{% extends "base/page.html" %}
{% block main %}
		<div class="page-header">
  			<h5>Welcome to your account for Cloud Hosting Companies, {{ Company_name }}.</h5>
  		</div>
			<div class="row">
			<div class="span3 columns">
				<h4>My Account</h4> <hr />
					<a href="{% url modify_account %}"><p>Modify Account</p></a>
					<br />
				<h4>My Servers</h4> <hr/>
					<a href="{% url add_server %}"><p>Add New Server</p></a>
					<a href="{% url display_servers %}"><p>Display servers</p></a>
					<a href="{% url modify_metric %}"><p>Modify Metric</p></a>
										
			</div>
			
				<div class="span14">
       <div class="page-header">
<h2>Complete registration </h2>
</div>
<div class="row">
        <div class="span4 columns">
        {% if error %}
        <div class="alert-message block-message error">
        	<div class="errors">
        		{{ error }}
        	</div>
        </div>
        {% endif %}
	<form accept-charset="UTF-8" action="{% url company_profile %}" class="form-stacked" method="post">{% csrf_token %}
       {% if form.is_bound and not form.is_valid %}
            <div class="alert-message block-message error">
              <div class="errors">
                {% for field in form.visible_fields %}
                  {% for error in field.errors %}
                  <p>{{ field.label }}: {{ error }}</p>
                  {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            </div>
          {% endif %}
          {% for field in form %}{% include "base/field.html" %}{% endfor %}   
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="btn primary" name="commit" type="submit" value="Register"></p>
          </form>
        </div>
      </div>  
      
 </div>
  			</div>

{% endblock %}
  
